.el-header {
  line-height: 60px;
  position: fixed;
  z-index: 99;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(233, 233, 233);

  .left {
    font-weight: 500;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
